{% render 'partials/head.liquid' %}

<header>
<div>
    <button>Selecteer team</button>
  </div>


</header>

<main>


  <div>



    
  </div>
  

  <div>
    <img src="" alt="speler">
    <img src="" alt="speler">
    <img src="" alt="speler">
  </div>

  <div>
    <h1>Stats</h1>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>


  </div>


</main>




{% render 'partials/foot.liquid'%}
