{% render 'partials/head.liquid' %}

<header>
<div>
    <a href="/overzicht">Selecteer speler</a><img src="/assets/pijltje.png" alt="pijltje"></span>
  </div>

</header>

<main>
<div>
  </div>
 <div class="voetbal-veld"></div>
  </div>


</main>

{% render 'partials/foot.liquid'%}
