{% render 'partials/head.liquid' %}

<header>
<div>
    <button>Selecteer team<span></button><img src="/assets/pijltje.png" alt="pijltje"></span>
  </div>


</header>

<main>
  <div>
</div>
  

  <div class="voetbal-veld">
    <img class="speler1" src="/assets/Speler-Sven.png" alt="speler">
    <img class="speler2" src="/assets/Speler-Sven.png" alt="speler">
    <img class="speler3" src="/assets/Speler-Sven.png" alt="speler">
  </div>

  <div>
    <h1>Stats</h1>
    <p>test</p>
    <p>test</p>
    <p>test</p>
  


  </div>


</main>




{% render 'partials/foot.liquid'%}
