body {
    margin: 0;
}

header {
    height: 150px;
    background-color: #2F2F2F;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;

    div {
        grid-column: 2;
        display: flex;

    }

    button {
        background-color: #2F2F2F;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        border: none;
        color: white;

    }

    img {
        width: 30px;
        height: 30px;
        padding-top: 5px;

    }
}

main {
    display: grid;
    grid-template-columns: 12% 1fr 1fr;



    .voetbal-veld {
        position: relative;
        background-color: #2F2F2F;
        grid-column: 2;
        width: 1000px;
        height: 500px;

        background-image: url('/assets/voetbalveld.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        img{ position: absolute;
        
        width: 150px;
        height: 210px;}

        .speler1{
            top: 32%;
            left: 20%;
        }
        .speler2{
            top: 32%;
            left: 68%;


        }
         .speler3{
           
            left: 44%;


        }

    }
}