body {
    margin: 0;
     background-color: #2F2F2F;
}

@font-face {
  font-family: 'fifafont';
  src: url('/fonts/fifawelcome1.3.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
    height: 150px;
    background-color: #2F2F2F;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    align-items: center;

    div {
        grid-column: 2;
        display: flex;

    }

    button {
        background-color: #2F2F2F;
        font-family:'fifafont' , arial;
        font-size: 45px;
        border: none;
        color: white;

    }

    img {
        width: 35px;
        height: 26px;
        padding-top: 20px;

    }
}

main {
    display: grid;
    grid-template-columns: 12% 1fr 1fr;

    div{ background-color: #2F2F2F;}



    .voetbal-veld {
        position: relative;
        background-color: #2F2F2F;
        grid-column: 2;
        width: 1000px;
        height: 600px;

        background-image: url('/assets/voetbalveld.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;}

        img {
            position: absolute;
            width: 150px;
            height: 210px;
             transition: transform 0.25s ease;
}


          
        

        img:hover {
            transform: translateY(-40px);
  }

 

        .speler1 {
            top: 32%;
            left: 20%;
        }

        .speler2 {
            top: 32%;
            left: 68%;


        }

        .speler3 {

            left: 44%;


        }

    }

    


.stats{
       background-color: #2F2F2F;
       grid-column: 3;

h1{ font-family:'fifafont' , arial;
        font-size: 45px;
        color: white;
}

p{ font-family:'fifafont' , arial;
        font-size: 35px;
        color: white;}
}